* {
  margin: 0;
  padding: 0;
}

#color-palette {
  display: flex;
}

#pixel-board {
  display: table;
}

.linha {
  display: table-row;
}

.color {
  border: 1px solid black;
  height: 40px;
  margin: 2px;
  width: 40px;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  box-sizing: border-box;
  display: table-cell;
  height: 40px;
  width: 40px;
}